<header>
    <nav class="nav-bar-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="user/user-profile">User Profile</a></li>
            <li><a href="/regions">Regions</a></li>
            <!-- <li><a href="/user-sightings">My Sightings</a></li> -->
        </ul>
    </nav>
</header>