<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestQuest | Error</title>
    <style>
        body {
            text-align: center;
            padding-top: 20%;
            background-color: #292D2C;
        }

        h1 {
            width: 100%;
            color: red;
            text-transform: capitalize;
        }

        p {
            color: white;
        }

        a {
            color: rgb(63, 137, 228);
            font-size: 25px;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>
    <a href="/">Return to home</a>
</body>

</html>