<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Featured' }) %>
        <link rel="stylesheet" href="/styles/home.css">
        <%- include('./partials/nav.ejs') %>

</head>

<body>

    <main>
        <section class="nestQuest-featured">
            <!-- for bird  -->
            <div>
                <!-- Name -->
                <!-- sciName -->
                <!-- details -->
            </div>
            <!-- link to regions-index -->
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>