<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Featured' }) %>
        <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <main>
            <section class="nestQuest-featured">
                <!-- for bird  -->
                <div>
                    <!-- Name -->
                    <!-- sciName -->
                    <!-- details -->
                </div>
                <!-- link to regions-index -->
            </section>
        </main>
</body>

</html>