<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'New User | NestQuest' }) %>
        <link rel="stylesheet" href="/styles/form.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <section class="form-head">
            <h2>New to NestQuest?</h2>
            <h4><i>Enter your information below</i></h4>
        </section>
        <div class="form-container">
            <form method="POST" action="/user"> 
                <!-- might need to change link -->
                <!-- User Name input -->
                <label for="name" class="form-label">User Name:</label>
                <input type="text" id="name" name="name" class="form-input" required>
                <br>
                <!-- Password input -->
                <label for="password" class="form-label">Password:</label>
                <input type="text" id="password" name="password" class="form-input" required>
                <br>
                <!-- Profile Pic input -->
                <label for="profile-pic" class="form-label">Profile Picture:</label>
                <input type="file" id="profile-pic" name="file" class="form-input">
                <input type="submit" value="Submit">
                <br>
                           
                </form>
            </form>
        </div>
</body>

</html>