<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'New User | NestQuest' }) %>
        <link rel="stylesheet" href="/public/form.css">
        <link rel="stylesheet" href="/public/nav.css">
        <%- include('./partials/nav.ejs') %>

</head>

<body>
<div class="form-page-container">
    <section class="form-head">
        <h2>New to NestQuest?</h2>
        <h4><i>Enter your information below</i></h4>
    </section>
    <div class="form-container">
        <p class="error-input">
            <%= errorMessage %>
        </p>
        <form method="POST" action="/user/user-profile">
            <!-- might need to change link -->
            <!-- User Name input -->
            <label for="name" class="form-label">User Name:</label>
            <input type="text" id="name" name="userName" class="form-input" required>
            <br>
            <!-- Password input -->
            <label for="password" class="form-label">Password:</label>
            <input type="text" id="password" name="password" class="form-input" required>
            <br>
            <!-- Profile Pic input -->
            <label for="profile-pic" class="form-label">Optional Profile Picture Url:</label>
            <input type="text" id="profile-pic" name="profilePic" class="form-input">
            <input type="submit" value="Submit">
            <br>
        </form>
    </div>
</div>
    <script src="/public/js/nav.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>