<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Regions }) %>
        <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include(' ./partials/nav.ejs') %>
        <h1>Regions</h1>
        <main>
            <section class="nestQuest-regions">
                <!--for each us region -->
                <div class="region card">
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>


            </section>
        </main>
        </body>

</html>