<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | Regions' }) %>
        <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>Regions</h1>
        <main>
            <section class="nestQuest-regions">
                <!--for each us region -->
                <div class="region card">
                    <% regions.forEach((region)=> { %>
                        <li>
                            <img class="region image" src=""><br>
                            <strong>Region:</strong>
                            <%= region.name %><br>
                                <a href="/bird-index/<%= region._id %>">View Region's Birds</a>
                        </li>
                </div>
                <% }); %>

            </section>
        </main>
</body>

</html>