<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | User Sightings' }) %>
        <link rel="stylesheet" href="/styles/home.css">
        <%- include('./partials/nav.ejs') %>
            
</head>

<body>

    <main>
        <!-- check if logged in -->
        <h1>User Sightings</h1>
        <section class="user-sightings">
            <!-- account info -->
            <div class="sightings-card">
                <!-- for each sighting list details -->
                <ul>
                    <li>

                    </li>
                </ul>
                <!-- edit sighting button/link-->
                <!-- delete sighting button-->
            </div>


        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>