body {
    height: 100vh;
}

.form-head {
    text-align: center;
    margin-top: 40px;
}

.form-body {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    height: 100%;
}

.form-container {
    border: white 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 20px;
    justify-content: center;
    max-height: 500px;
    width: 500px;
    max-width: 700px;
    border-radius: 20px;
}

.form-container .form-items {
    border-radius: 10px;
    padding: 20px;
}