.region-header {
    text-align: center;
}

.region-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 3px solid #29A8F9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #6BB1E9;
    transition: transform 0.2s;
    border-radius: 10px;
    text-align: center;
}

.region-card a {
    text-decoration: none;
    color: #333;
}

.region-page-content {
    margin-left: 190px;
    background-color: #303957;
    padding-top: 20px;
}

.region-card-grid {
    display: grid;
    gap: 20px;
}

.region-card:hover {
    transform: translateY(-5px);
}

.region-birds-header {
    text-align: center;
}

.nestQuest-regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 40px;

}

@media (max-width: 768px) {
    .region-card {
        width: 30%;
    }

    .region-page-content {
        margin-left: 0;
        padding-top: 20px;
    }
}

@media (max-width: 400px) {
    .region-card {
        width: 90%;
    }

    .region-page-content {
        margin-left: 0;
        padding-top: 20px;
    }
}