.page-container {
    display: grid;
    grid-template-rows: .5fr 1fr 2fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.bird-info {
    background-color: #736572;
    border-radius: 20px;
}

.sightings-detail-card {
    background-color: rgba(255, 255, 255, 0.823);
    padding: 40px;
    font-size: 14px;
    border-radius: 20px;
    color: black;
}

@media screen and (max-width: 768px) {
    .bird-info {
        font-size: 15px;
        border-radius: 20px 20px 0 0;
    }

    .sightings-detail-card {
        border-radius: 0px;
    }

    .page-container {
        grid-template-rows: 1fr 1fr;
    }

}