main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-sightings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.sightings-card {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.sighting-action {
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    text-decoration: none;
    background-color: #1d1d1d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s ease;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.sighting-action:hover {
    background-color: #000000;
}

main {
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-sightings {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.sightings-card {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

.sighting-action {
    display: inline-block;
    margin: 20px;
}

.sighting-action a {
    text-decoration: none;
    background-color: #1d1d1d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s ease;
}

.sighting-action a:hover {
    background-color: #000000;
}

.profile-info {
    flex-basis: 90%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    float: left;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

.profile-info ul {
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .profile-info {
        float: none;
        margin: 0 auto;
    }

    .sightings-card {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .profile-info {
        float: none;
        margin: 0 auto;
    }

    .sightings-card {
        flex-basis: 100%;
    }
}