.main {
    padding: 20px;
}

.user-nest-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    flex-direction: row;
}

.profile-info {
    flex: .8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    height: 60vh;
    border: 1px solid black;
    border-radius: 8px;
    margin: 80px;
}

.profile-info img {
    width: 250px;
    height: auto;
}

.user-sightings {
    flex: 2;
    /* max-height: 80vh; */

    /* overflow-y: auto; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.028);
    border-radius: 8px;
    margin: 60px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    height: 60vh;
    overflow-y: scroll;
}

.sightings-card {
    flex: 0 0 calc(33.33% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.162);
    border-radius: 8px;
    margin-bottom: 16px;
    transition: transform 0.3s ease;
    /* height: 200px;
    width: 400px; */
}

.sightings-card img {
    height: 100px;
    width: auto;
}

.button-box {
    display: flex;
}

.sightings-card:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

.sighting-action {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    background-color: #1d1d1d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px;
    transition: background-color 0.3s ease;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.sighting-action:hover {
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .user-nest-container {
        flex-direction: column;
    }

    .profile-info,
    .user-sightings {
        height: 80%;
        margin: 40px 20px 0 20px;
        flex-basis: auto;
        max-width: 90%;
    }
}