<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs', {title: 'Sightings | NestQuest' }) %>
        <link rel="stylesheet" href="./public/nav.css">
        <title>Sightings</title>
        <%- include('./partials/nav.ejs') %>

</head>

<body>
    <h1>Sightings-index</h1>
    <!-- might not have page -->
    <script src="./public/js/nav.js"></script>
    <%- include('./partials/footer.ejs') %>
</body>

</html>