<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'NestQuest | User Sightings' }) %>
        <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

        <main>
            <h1>User Sightings</h1>
            <section class="user-sightings">

                <div class="sightings-card">
                    <!-- for each sighting list details -->
                    <ul>
                        <li>

                        </li>
                    </ul>
                    <!-- edit sighting button/link-->
                    <!-- delete sighting button-->
                </div>


            </section>
        </main>
</body>

</html>